

.card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--white-color);
}

.category__img {
    height: 10rem;
    width: 15.3rem;
}

.category--title {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

